.menu{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(57, 79, 244, 0.9);
    list-style: none;
    padding: 32px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3000;
    overflow: hidden;
    li{
        a{
            text-decoration: none;
            color: white;
            padding: 15px 27px 11px;
            font-weight: 600;
            font-style: italic;
            font-size: 23px;
            position: relative;
            &:hover{
                &::before{
                    width: calc(100% - 50px);
                } 

            }
            &::before{
                content: "";
                position: absolute;
                width: 0;
                height: 4px;
                background-color: #f48480;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                transition: width 0.3s ease-in-out;         
            }
        }
    }
    
}