.work{
    background-color: #7689d8;
    padding-top: 100px;
    padding-bottom: 1px;
    h2{
        color: white;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
    }
}

@media(max-width: 767px){
    .work{
        h2{
          text-align: center;
        }
    }
    
}